# Import modules

In [76]:
import pandas as pd
import math

# Part 1

In [41]:
number = 7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450

In [42]:
list_of_digits = list(map(int, f"{number}"))

# The index and the value of the four consecutive digits that have the highest value when you multiply them.

In [64]:
index = list_of_digits[0]
total = 0
for i in range(len(list_of_digits)-3):
    new_total = list_of_digits[i]*list_of_digits[i+1]*list_of_digits[i+2]*list_of_digits[i+3]
    if (new_total>total):
        index = list_of_digits[i]
        total = new_total

In [65]:
print ("Index:", index, "\nValue of the four consecutive digits that have the highest value when you multiply them:", total)

Index: 9
Value of the four consecutive digits that have the highest value when you multiply them: 5832

# The index and the value of the ten consecutive digits that have the highest value when you multiply them.

In [66]:
index = list_of_digits[0]
total = 0
for i in range(len(list_of_digits)-9):
    new_total = list_of_digits[i]
    for j in range(1,10):
        new_total *= list_of_digits[i+j]
    if (new_total>total):
        index = list_of_digits[i]
        total = new_total

In [67]:
print ("Index:", index, "\nValue of the ten consecutive digits that have the highest value when you multiply them:", total)

Index: 8
Value of the ten consecutive digits that have the highest value when you multiply them: 493807104

# Part 2

In [172]:
data = pd.read_csv("TNF_coordinate_chain1.pdb", sep="\t")

In [173]:
data1 = pd.read_csv("TNF_a1_coordinate_chain1.pdb", sep="\t")
data2 = pd.read_csv("TNF_b1_coordinate_chain1.pdb", sep="\t")
data3 = pd.read_csv("TNF_c1_coordinate_chain1.pdb", sep="\t")

In [174]:
var1ds = []
var2ds = []
var3ds = []

In [175]:
for i in range (len(data)):
    if (data.Atom[i] == 'CA'):
        d1 = math.sqrt((data.X[i]-data1.X[i])**2+(data.Y[i]-data1.Y[i])**2+(data.Z[i]-data1.Z[i])**2)
        var1ds.append(d1)
        d2 = math.sqrt((data.X[i]-data2.X[i])**2+(data.Y[i]-data2.Y[i])**2+(data.Z[i]-data2.Z[i])**2)
        var2ds.append(d2)
        d3 = math.sqrt((data.X[i]-data3.X[i])**2+(data.Y[i]-data3.Y[i])**2+(data.Z[i]-data3.Z[i])**2)
        var3ds.append(d3)

In [176]:
sum1 = 0
sum2 = 0
sum3 = 0
for i in range (len(data[data.Atom == 'CA'])):
    sum1 += var1ds[i]
    sum2 += var2ds[i]
    sum3 += var3ds[i]
avg1 = sum1 / (len(data[data.Atom == 'CA']))
avg2 = sum2 / (len(data[data.Atom == 'CA']))
avg3 = sum3 / (len(data[data.Atom == 'CA']))

In [177]:
print ("The average distance between the backbone atoms of the wild-type and the different variants:")
print ("The average distance between the wild type and the variant A is :", avg1)
print ("The average distance between the wild type and the variant B is :", avg2)
print ("The average distance between the wild type and the variant C is :", avg3)

The average distance between the backbone atoms of the wild-type and the different variants:
The average distance between the wild type and the variant A is : 1.3601353369785016
The average distance between the wild type and the variant B is : 5.07980513925951
The average distance between the wild type and the variant C is : 7.823856713143505

In [178]:
min1 = 1000
min2 = 1000
min3 = 1000
for i in range (len(data[data.Atom == 'CA'])):
    if (var1ds[i] != 0 ):
        if (var1ds[i] < min1):
            min1 = var1ds[i]
    if (var2ds[i] != 0 ):
        if (var2ds[i] < min2):
            min2 = var2ds[i]
    if (var3ds[i] != 0 ):
        if (var3ds[i] < min3):
            min3 = var3ds[i]

In [179]:
print ("The lowest RMSD value of each variant is:")
print ("Variant A :", min1)
print ("Variant B :", min2)
print ("Variant C :", min3)

The lowest RMSD value of each variant is:
Variant A : 0.045000000000001705
Variant B : 0.3119999999999976
Variant C : 0.1528201557386949

In [180]:
lrmsd = min1
lrmsdvar = "A"
if (min2 < lrmsd):
    lrmsd = min2
    lrmsdvar = "B"
if (min3 < lrmsd):
    lrmsd = min3
    lrmsdvar = "C"

In [182]:
print ("The variant with the lowest RMSD value is the variant", lrmsdvar, "at a value of", lrmsd)

The variant with the lowest RMSD value is the variant A at a value of 0.045000000000001705

# Part 3

In [196]:
catalog = pd.read_csv("http://139.91.190.186/tei/bioinformatics/exercise1/gwas_catalog.txt", sep="\t", low_memory=False)

# Five SNPs with p-value = 0

In [253]:
catalog['PVALUE'] = catalog['P-VALUE']
zero_p_value = catalog[catalog.PVALUE == 0]
zero_p_value.loc[:, ['SNPS', 'PVALUE']].head()

            SNPS  PVALUE
683     rs429358     0.0
1410   rs4539246     0.0
1413  rs10736092     0.0
1423   rs7914286     0.0
1425   rs2861152     0.0

# The first five authors with the most SNP records

In [260]:
catalog.groupby(['FIRST AUTHOR']).count().loc[:, ['SNPS']].sort_values(by='SNPS',ascending=False).head()

                SNPS
FIRST AUTHOR
Harshfield EL  13087
Gudjonsson A    3931
Orru V          1446
Backman JD       587
Qin Y            567

# The first two genes with the most SNP records

In [261]:
catalog.groupby(['MAPPED_GENE']).count().loc[:, ['SNPS']].sort_values(by='SNPS',ascending=False).head(2)

              SNPS
MAPPED_GENE
FADS2         2225
FADS1, FADS2  1446

# The chromosome with the most SNPS for Neuroblastoma

In [286]:
catalog['DISEASE_TRAIT'] = catalog['DISEASE/TRAIT']
new_catalog = catalog[catalog.DISEASE_TRAIT == 'Neuroblastoma']
new_catalog.groupby(['CHR_ID']).count().loc[:, ['SNPS']].sort_values(by='SNPS',ascending=False).head(1)

        SNPS
CHR_ID
2         10